.navbar{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	background-image: radial-gradient(circle at 79.88% 60.88%, #d964f7 0, #bd59f8 16.67%, #9b4ff9 33.33%, #6e46f9 50%, #0c40f9 66.67%, #003ef9 83.33%, #003df9 100%) !important;
	box-shadow: var(--shadow_color);
	.row{
		#toggle{
				display: none;
		}
		@media only screen and (max-width : 991px) {
			flex-decoration: column;
			.col-4 {
				width: 100%;
				.image-menubar{
					label.menu_icon{
						display: flex !important;
					}
				}
			}
			#toggle:checked~.col-8 ul.link-list.toggle{
				height: 150px !important;
				transition: all .5s;
			}
			.col-8{
				width: 100%;
				ul.link-list{
					flex-direction: column;
					justify-content: flex-start !important;
					height: 0px !important;
					overflow: hidden;
					grid-gap: 8px;
				}
			}
		}
		.col-4{
			.image-menubar{
				label.menu_icon{
					display: none;
					justify-content: center;
					font-size: 25px;
					height: 35px;
					width: 35px;
					background-color: transparent;
					outline: none;
					cursor: pointer;
					border-radius: 5px;
					color: #fff;
					align-items: center;
				}
				height: 75px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				a.image{
					margin-left: -8px;
					width: 250px;
					height: 40px;
					cursor: pointer;
					overflow: hidden;
				}
				.brand {
					position: relative;
					color: var(--fixed_white);
					@keyframes spin_words {
						10% {
							transform: translateY(-112%);
						}
						25% {
							transform: translateY(-100%);
						}
						35% {
							transform: translateY(-212%);
						}
						50% {
							transform: translateY(-200%);
						}
						60% {
							transform: translateY(-312%);
						}
						75% {
							transform: translateY(-300%);
						}
						85% {
							transform: translateY(-412%);
						}
						100% {
							transform: translateY(-400%);
						}
					}
					.rotate-words span {
						display: block;
						height: 100%;
						padding-left: 60px;
						color: var(--fixed_white);
						animation: spin_words 12s infinite;
					}
				}
			}
		}
		.col-8{
			ul.link-list{
				height: 75px;
				transition: all .5s;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				grid-column-gap: 10px;
				.link-item{
					a.image{
						margin-left: -8px;
						width: 250px;
						height: 40px;
						cursor: pointer;
						img{
							width: 100%;
							height: 100%;
						}
					}

				}
				.social-icon{
					display: flex;
					grid-column-gap: 8px;
					.link-item{
						background-color: var(--second_bg);
						height: 30px;
						width: 30px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						a{
							font-size: 15px;
							display: flex;
							justify-content: center;
							align-items: center;
							span{
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}
			}
			.navbar-item{
				color: var(--fixed_white);
				display: inline-block;
				text-decoration: none;
				position: relative;
			}
			.navbar-item:hover{
				opacity: 1;
			}
			.navbar-item::before {
			  transition: 300ms;
			  height: 2px;
			  content: "";
			  position: absolute;
			  border-radius:5px;
			  margin-bottom: -18px;
			  background-color: var(--fixed_white);
			}
			.navbar-item-ltr::before {
			  width: 0%;
			  bottom: 10px;
			}
			.navbar-item-ltr:hover::before {
			  width: 100%;
			}
		}	
	}
}