@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
	--fixed_white : #fff;
	--fixed_dark : #404040;
	--text_color : #2c2f34;
	--second_bg : #f0f0f0;
	--main_bg : #ffffff;
	--grey_color: #404040;
	--shadow_color: 0 0 0 0 rgba(90,113,208,0.11),0 4px 16px 0 rgba(167,175,183,0.33);
	--d: 0s;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
title{
	font-family: 'Ubuntu', 'Roboto', 'sans-serif';
}
body{
	font-family: 'Ubuntu', 'sans-serif', 'Roboto';
	letter-spacing: .7px;
}
@keyframes shake {
	10%{transform: rotate(15deg);}
	20%{transform: rotate(-15deg);}
	30%{transform: rotate(15deg);}
	40%{transform: rotate(-15deg);}
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}