.container{
	width: 90%;
	margin: 0px auto;
	padding: 0px 3rem;
}
.form-group{
	margin: 8px 0px;
}
.form-control{
	border: 1px solid grey;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    &:focus{
    	border: 1px solid rgb(139,236,94);
    }
}
